@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
    background: rgb(85 81 227);
}
.bg-secondary{
    background: #2b2d77;
}
nav ul li:hover{
    color:rgb(85 81 227);
}
.mobile-nav{
    @apply top-10 left-0 fixed bg-gray-800 w-full h-1/4;
}
.mobile-nav li{
    @apply w-full h-full text-center;
}
.project-desc{
   @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-80 w-[300px];
}
.btn{
    @apply bg-primary py-2 px-5 font-bold hover:border-2 border-white rounded;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
display: none;
}